<!-- Presents Section -->
    <section id="presents" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading no-subheading">Prezenty</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <p>
                        W tym dniu nie prezenty są dla nas najważniejsze, ale dobre i liczne towarzystwo - bardzo miło nam będzie jeżeli będziecie po prostu z nami w tym dniu.
                    </p>
                    <p>
                        Jeżeli jednak chcecie nam coś sprezentować z okazji wejścia na wspólną drogę życia będzie nam bardzo miło, jeśli zechcecie wspomóc nas w oszczędzaniu na własne "M", gdzie będziemy mogli uwić własne gniazdko. Dla osób, które mimo to wolą nam coś kupić, przygotowaliśmy krótką listę <a href='https://docs.google.com/spreadsheets/d/1-3JsHFFEfbuX15e5wjEg67FvrC2ARSELiuXnlToh-Iw/edit#gid=0' target='blank'>tutaj</a>. Uprzejmie prosimy o skonataktowanie się z nami <strong>zanim</strong> kupicie prezent w celu potwierdzenia, że nie jest on już zajęty, żebyśmy nie dostali 3 razy tego samego :)
                    </p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>