<!-- Presents Section -->
    <section id="presents" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Prezenty</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <p>
                        W tym dniu nie prezenty są dla nas najważniejsze, ale dobre i liczne towarzystwo - bardzo miło nam będzie jeżeli będziecie po prostu z nami w tym dniu.
                    </p>
                    <p>
                        Jeżeli jednak chcecie nam coś sprezentować z okazji wejścia na wspólną drogę życia będzie nam bardzo miło, jeżeli zechcecie wspomóc nas w oszczędzaniu na własne "M", gdzie będziemy mogli uwić własne gniazdko. Jeżeli jednak wolicie kupić nam prezent poniżej przygotowaliśmy krótką listę. 

                        <ul class="text-left">
                            <li> ...TBA...
                        </ul>
                    </p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>